<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel='stylesheet' href='stylesheets/style.css'>
	<title>EJS Cats</title>
</head>
<body>
	<div class='container'>
        <div class='header'>
            <h2>EJS Cats</h2>
			<a href="/"><button>Back</button></a>
        </div>
        <div class='main'>
            <div class='row'>
                <div class='col'>
                    <a href='/cuddles'>
						<img src='images/cuddles.jpeg' alt='cuddles the cat'>
					</a>
                    <p>Cuddles</p>
                </div>
                <div class='col'>
                    <a href='/tim'>
						<img src='images/tim.jpeg' alt='tim the cat'>
					</a>
                    <p>Tim</p>
                </div>
            </div>
            <div class='row'>
                <div class='col'>
                    <a href='/carie'>
						<img src='images/carie.jpeg' alt='carie the cat'>
					</a>
                    <p>Carie</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>