<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <h1>User Quotes</h1>
    <ul>
        <% for(let q of quotes) { %>
            <li style="color: rgb(240, 12, 12)" ><%= q.name %></li> 
            <li style="color: purple" ><%= q.text %></li>   
        <% } %>
    </ul>   

    <a href="/">Home Page</a>
</body>
</html>
