<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="home">
        <a [routerLink]="['/new']"><h2>Add a quotable author</h2></a>
        <h2>We have quotes by:</h2>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                <th scope="col">Author</th>
                <th scope="col">Actions Available</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let quote of quoteObjects">
                <td>{{quote.author}}</td>
                <td>
                  <button class="btn btn-primary" [routerLink]="['/quotes/', quote._id]">View Quotes</button>
                  <button class="btn btn-danger" [routerLink]="['/edit/', quote._id]">Edit</button>
                </td>
                </tr>
            </tbody>
        </table> 
    </div>    
</body>
</html>