<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PPM - Product List</title>
</head>
<body>
  <h1 style="display: flex; justify-content: center; align-items: center;" >{{title}}</h1>
  <div class="container">
    <div class="card-columns wd-200">
     
        <div class="card border-dark mb-3" *ngFor='let prod of products'>
         <div class="card-body text-center"><img  style="width: 18rem; height: 18rem" src="{{ prod.imageUrl}}"><p> {{prod.title}} : ${{prod.price}}</p>
          <button (click)="sendToEditProduct(prod._id)" class="btn-infobtn btn-outline-primary btn-sm">Edit</button><button (click)="deleteProduct(prod._id)"class="btn-darkbtn btn-outline-danger btn-sm ml-2">Delete</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
